@font-face {
	font-family: 'Myriad Pro';
	src: url(../fonts/myriad_pro.otf);
}

@font-face {
	font-family: 'Raleway Thin';
	src: url(../fonts/Raleway-Thin.ttf);
}

@font-face {
	font-family: 'Raleway Regular';
	src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
	font-family: 'Raleway Light';
	src: url(../fonts/Raleway-Light.ttf);
}

@font-face {
	font-family: 'Raleway SemiBold';
	src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
	font-family: 'Raleway Bold';
	src: url(../fonts/Raleway-Bold.ttf);
}

body {
	font-family: 'Myriad Pro';
}

/*HEADER*/
header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	z-index: 2;
}
.header {
	height: 84px;
	margin-bottom: 0px;
	border-radius: 0px;
}

.logo {
	margin-top: 12px;
}

.menu {
	margin-top: 32px;
	margin-left: 30px;
}

.menu>li>a {
	padding: 5px 11px;
	color: #6d6e72;
	font-family: 'Raleway Light';
	font-size: 15px;
}

.menu-border-right {
	border-right: 1px solid #dadada;
}

.menu-toggle {
	margin-top: 30px;
	padding: 5px 2px;
	color: #6d6e72;
	font-family: 'Raleway Light';
	font-size: 15px;
}

.menu-toggle-text {
    float: left;
    margin: 4px;
}
/*HEADER*/

/*CARROUSEL*/

.carrousel-img {
	width: 100%;
}

.carousel-indicators li {
	width: 51px;
	height: 6px;
	margin-right: 7px;
	border-radius: 0px;
	border: none;
	background-color: white;
	
}

.carousel-indicators .active{
	width: 51px;
	height: 6px;
	margin-right: 7px;
	border-radius: 0px;
	border: none;
	background-color: #3e5d9e;
}

.carousel-slide1-tittle {
	position: absolute;
	top:23%;
	left: 9%;
	
	width: 669px;
	height: 88px;
	
	text-shadow: 3px 2px 1px #6B5337;
	background-color: rgba(0,0,0,0.2);
	padding: 8px 30px 8px 30px;

	font-family: 'Raleway Light';
	font-size: 25px;
	line-height: 34px;
	color: white;
	letter-spacing: 1.5px;

}

.carousel-slide1-product {
	position: absolute;
	top:50%;
	left:35%;
	
	width: 376px;
	height: 86px;

	background-color: rgba(0,0,0,0.2);
	padding-top: 24px;
	
	border: 1px solid #f2efe8;
	outline: 1px solid white;

	font-family: 'Raleway Thin';
	font-size: 25px;
	color: white;
	letter-spacing: 1.5px;
}

.carousel-slide1-text-bold {
	font-family: 'Raleway SemiBold';
}

.carousel-slide1-button {
	position: absolute;
	top:69.5%;
	left:37%;
	
	width: 329px;
	height: 52px;

	background-color:#ed4b25;
    background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(248,80,43,1) 51%);
	box-shadow: 3px 3px 1px rgba(67,37,11, 0.8);
	padding-top: 12px;

	font-family: 'Raleway Thin';
	font-size: 20px;
	color: white;
	letter-spacing: 1.5px;
}

.indicators {
	bottom: 2%;
}

.control-left {
	position: absolute;
	top:52%;
	left:9.4%;
	
	width: 33px;
	height: 60px;

	background-color: rgba(0,0,0,0.3);
	padding: 12px 5px 12px 5px;
}

.control-right {
	position: absolute;
	top:52%;
	right:9.4%;
	
	width: 33px;
	height: 60px;

	background-color: rgba(0,0,0,0.4);
	padding: 12px 5px 12px 5px;
}

.flip-horizontal {
	-moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

.img-legacy-logo {
	position: absolute;
	bottom:7%;
	right:11.6%;	
}
/*CARROUSEL*/

/*STEPS*/

#steps{
	background-color: #f6f5f3;
}

.step {
	padding-left: 23px;
}

.steps-top-line {
	border-top: 1px solid #6e6f73;
}

.steps-tittle {
	font-family: 'Raleway Light';
	font-size: 24px;
	color: #6e6f73;
	margin-top: 33px;
}

.steps-bottom-line {
	border-bottom: 1px solid #6e6f73;
}

.steps-text-bold {
	font-family: 'Raleway Bold';
}

.steps {
	margin-top: 33px;
	font-family: 'Raleway Regular';
	font-size: 18px;
}

.col-step {
	padding-left: 24px;
}

.step-tittle {
	color:#f76140;
	margin-top: 38px;
}

.step-tittle-number {
	float: left;
	margin-right: 2px;
}

.step-tittle-text {
	line-height: 20px;
	/*letter-spacing: 1px;*/
}

.step-text {
	font-size: 16px;
	margin-top: 20px;
	color: #6e6e6e;
}

.step-links {
	margin-top: 25px;
}
/*STEPS*/